version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: smartmarket-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 221102
      POSTGRES_DB: smartmarket
    ports:
      - "5433:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: smartmarket-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "julianpedrozaospina@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "221102"
    ports:
      - "0.0.0.0:80:80"
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres

  backend:
    build: .
    image: smartmarket-backend:dev
    container_name: smartmarket-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      PY_SERVICE_BASE_URL: ${PY_SERVICE_BASE_URL}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_PRIVATE_KEY_BASE64: ${JWT_PRIVATE_KEY_BASE64}
      JWT_PUBLIC_KEY_BASE64: ${JWT_PUBLIC_KEY_BASE64}
    depends_on:
      - pyservice
      - postgres

  pyservice:
    build: ./pyservice
    image: smartmarket-pyservice:dev
    container_name: smartmarket-pyservice
    ports:
      - "8001:8001"
